
<!DOCTYPE html>
<html lang="en">
  <head>
    


<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo:300,500,800|Roboto&display=swap">
<link rel="stylesheet" href="https://pm2.io/assets/main.css" />

<title>Rak Mrid nTA t3andni Ana:)</title>

  </head>
  <body>
    <header id="menu">
  <div class="header-wrapper">
    <!-- <nav class="main-nav">
      <a href="https://pm2.io" title="Go to home page" class="logo-link">
        <img width="206" alt="PM2 logo" src="https://pm2.io/assets/pm2-logo-1.png" />
      </a>
      <div class="menu">
        <a
          title="Open menu"
          href="#menu"
          class="button accent-border border-corners inner-shadows menu-button"
        >
          <div class="menu-icon"></div>
        </a>
        <a class="menu-overlay" href="#" title="Close the menu"></a>
        <div class="menu-content">
          <div class="doc-links">
            <a
              href="https://pm2.io/pricing"
              title="Go to Pricing"
              class=""
              >
              Pricing
            </a>
            <a
              href="https://pm2.io/blog"
              title="Go to Blog"
              class=""
            >
              Blog
            </a>
            <a
              href="https://pm2.io/contact"
              title="Go to Contact"
              class=""
            >
              Contact
            </a>
            <a
              href="/docs/plus/overview/"
              title="Go to Documentation"
            >
              Documentation
            </a>
          </div>
          <a
            href="https://id.keymetrics.io/"
            title="Get started"
            class="button accent-border border-corners inner-shadows"
          >
            Login
          </a>
        </div>
      </div>
    </nav> -->
  </div>
</header>

    <main>
      <section class="section-404">
  <div class="section-background">
    <div class="section-wrapper">
      <div class="hexagon hexagon-1"></div>
      <div class="hexagon hexagon-4"></div>
    </div>
  </div>
  <div class="section-wrapper">
    <div class="card">
      <div class="card-left">
        <h1>BOITE VOCALE</h1>

        <p>DONT RUSH SLOW TOUCH!!! the things you'r here for, is no long here.....</p>
      </div>
      <div class="card-right">
        <img src="https://pm2.io/assets/travolta.gif" />
      </div>
      <div class="card-left">
      </div>
    </div>
  </div>
</section>

    </main>
    <footer>
  <div class="section-background">
    <div class="section-wrapper">
      <div class="hexagon hexagon-10"></div>
    </div>
  </div>
  <div class="section-wrapper">

  </div>
</footer>



<script type="text/javascript" src="https://pm2.io/assets/jquery.min.js"></script>


  </body>
</html>
